---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Cta from "@components/cta.astro";
import Newsroll from "@components/newsroll.astro";
import Sectionhead from "@components/sectionhead.astro";
import FloorplanCard from "@components/floorplanCard.astro";
---
<Layout title="Homes for Sale| Terre Haute, IN | Southard Homes LLC">
    <Container>
        <Sectionhead>
            <Fragment slot="title">New Home Floorplans</Fragment>
            <Fragment slot="desc">Your Dream Home, From The Ground Up</Fragment>
          </Sectionhead>
        
<div class="mt-16 md:mt-0 pb-8">
    <p class="text-lg mt-4 text-slate-600 pb-4">
        Looking for a high-quality, beautifully designed home without the hassle of custom construction? Our <b>spec home floorplans</b> offer the perfect solution. <br/>
Our <b>ready-to-build</b> options are crafted for efficiency, style, and comfort. Choose your favorite design, and we’ll build it for you on your land. We also give you the freedom to <b>make your home uniquely yours</b> with options like: <br/>
<ul>
<li>- Flooring styles</li>
<li>- Countertops & cabinetry finishes</li>
<li>- Interior & exterior paint colors</li>
<li>- Siding colors and accents (brick or stone)</li>
<li>- And more, depending on availability!</li>
</ul> <br/>
We’re <b>always adding new designs!</b> If you’re interested in building your dream home with us, or want to know more, <a href="tel:812-243-2759" target="_blank" class="text-[#ffca28] font-bold">call Christa</a> today!
Your dream home is closer than you think—let’s make it happen!
    </p>
    </div>
    <div class="mt-4 flex flex-wrap flex-col md:flex-row gap-4 md:mx-0">
        <FloorplanCard
        floorplanImg="https://i.postimg.cc/rpfd7DcV/The-Sycamore.png"
        fpAlt="" 
        floorplanName="The Sycamore" 
        basePrice="Call for Pricing" 
        fpDescription=""
        fpBeds="3" 
        fpBath="2" 
        fpGarage="2-Car" 
        fpSqFt="1,388" 
        floorplanLink=""
        dfloorplanLink=""
        />
        <FloorplanCard
        floorplanImg="https://i.postimg.cc/25k2N9b4/The-Poplar.png"
        fpAlt="" 
        floorplanName="The Poplar" 
        basePrice="Call for Pricing" 
        fpBeds="2" 
        fpBath="2.5" 
        fpGarage="2-Car" 
        fpSqFt="1,225" 
        floorplanLink=""
        dfloorplanLink=""
        />
        <FloorplanCard
        floorplanImg="https://i.postimg.cc/T2z03352/The-Harrison.png"
        fpAlt="" 
        floorplanName="The Harrison" 
        basePrice="Call for Pricing" 
        fpBeds="3" 
        fpBath="2" 
        fpGarage="2-Car" 
        fpSqFt="1,279" 
        floorplanLink=""
        dfloorplanLink=""
        />
        <FloorplanCard
        floorplanImg="https://i.postimg.cc/nzCLgZnN/The-Monarch.png"
        fpAlt="" 
        floorplanName="The Monarch" 
        basePrice="Call for Pricing" 
        fpBeds="3" 
        fpBath="3.5" 
        fpGarage="2-Car" 
        fpSqFt="2,050" 
        floorplanLink=""
        dfloorplanLink=""
        />
    </div>
        <Newsroll />
            <Cta />
    </Container>
  </Layout>