---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Cta from "@components/cta.astro";
import Newsroll from "@components/newsroll.astro";
import Sectionhead from "@components/sectionhead.astro";
import FloorplanCard from "@components/floorplanCard.astro";
---
<Layout title="Homes for Sale| Terre Haute, IN | Southard Homes LLC">
    <Container>
        <Sectionhead>
            <Fragment slot="title">New Home Floorplans</Fragment>
            <Fragment slot="desc">Your Dream Home, From The Ground Up</Fragment>
          </Sectionhead>
        
<div class="mt-16 md:mt-0">
    <p class="text-lg mt-4 text-slate-600 pb-8">
        Our office on <b>3601 N Fruitridge Ave</b> may have opened in 2019, but our team has more than twenty years of experience in home building. <br/>
        We specialize in new construction homes so that you can enjoy your new home for (hopefully) many decades.<br/>
        Using our own crews and 100% local contractors to build our homes means minimal guesswork for future repairs and peace of mind until then. <br/>
        See one you like? </br>Reach out to the agent on the listing or <a href="tel:812-243-2759" target="_blank" class="text-[#ffca28] font-bold">call us</a> any time to talk about inventory and options.
    </p>
    </div>
        <FloorplanCard
        floorplanImg=""
        fpAlt="" 
        floorplanName="" 
        basePrice="" 
        fpBeds="" 
        fpBath="" 
        fpGarage="" 
        fpSqFt="" 
        floorplanLink=""
        />
        <Newsroll />
            <Cta />
    </Container>
  </Layout>