---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Cta from "@components/cta.astro";
import Sectionhead from "@components/sectionhead.astro";
import RentalListings from "@components/Rental-Listings.astro";
---
<Layout title="Homes for Sale| Terre Haute, IN | Southard Homes LLC">
    <Container>
              <Sectionhead>
                <Fragment slot="title">Homes for Rent</Fragment>
                <Fragment slot="desc">Looking to rent a home? We can do that too!</Fragment>
              </Sectionhead>
<div class="mt-16 md:mt-0">
    <p class="text-lg mt-4 text-slate-600 pb-4">
        We buy local properties and bring them to their proper glory thanks to our other Quality Companies: Quality Roofing of Indiana LLC, Quality Electric of Indiana LLC, and Quality Excavating of Indiana LLC.
    <br/>
    And with our team of trusted local vendors, Southard Homes LLC has everything we need to get the job done.
    <br/>
        See one you like? Submit an application through our tenant portal on Doorloop*.</br><a href="tel:812-243-2759" target="_blank" class="text-[#ffca28] font-bold">Call us</a> any time to talk about inventory and options.
    </p>
    <p class=italic>Policy Note: We are happy to allow pets, but damages are the renter's responsibility. Deposit: $300 (refundable) + $100 monthly pet fee. </p><br/>
    <p class=italic>Doorloop Note: A $30 application fee will be processed upon submission to cover the cost of a background check, TransUnion report, and credit card processing fee.</p>
    </div>

     <div class="text-center italic text-2xl pt-8 font-prose text-[#9b9b9b]">No rental homes available. Check back soon!</div>
<!-- <a href="https://southardhomesllc.app.doorloop.com/tenant-portal/rental-applications/listing?companyId=6747587dc1f13e76f53fc0f8&source=CompanyLink" target="_blank">
    Submit an Application on<img id="dl" src="/brandeddl.png" alt="Doorloop Rental Application" class="object-contain h-30 w-40 flex"/>
</a> -->

</div>

            <Cta /> 
    </Container>
  </Layout>

<style>
    #dl {
        display: inline;
        padding-left: 0.5rem;
    }
</style>