---
import Container from "@components/container.astro";
import Link from "@components/ui/link.astro";
import Dropdown from "./dropdown.astro";
import { Astronav, MenuItems, MenuIcon } from "astro-navbar";

const menuitems = [
  {
    title: "Available Homes",
    path: "#",
    children: [
      { title: "Homes for Sale", path: "/homes-for-sale/"},
      { title: "Rental Homes", path: "/homes-for-rent/" },
      { title: "Rent-to-Own (RTO)", path: "/homes-for-rto/" },
      // { title: "Locations & Floor Plans", path: "/404" },
      
    ],
  },
  // {
  //   title: "Portfolio",
  //   path: "/pricing",
  // },
  {
    title: "Who We Are",
    path: "/about/",
  },
  // {
  //   title: "Our Services",
  //   path: "/pricing",
  // },
  {
    title: "Newsroom",
    path: "/blog",
  }
];
---

<Container>
  <header class="flex flex-col lg:flex-row justify-between items-center my-5">
    <Astronav>
      <div class="flex w-full lg:w-auto items-center justify-between">
        <a href="/" class="text-lg"
          >
<span class="font-bold text-slate-800 font-serif">Southard Homes</span><span
            class="text-slate-500"> LLC</span
          >
        </a>
        <div class="block lg:hidden">
          <MenuIcon class="w-4 h-4 text-gray-800" />
        </div>
      </div>
      <MenuItems class="hidden w-full lg:w-auto mt-2 lg:flex lg:mt-0">
        <ul class="flex flex-col lg:flex-row lg:gap-3">
          {
            menuitems.map((item, index) => (
              <>
                {item.children && (
                  <Dropdown
                    title={item.title}
                    children={item.children}
                    lastItem={index === menuitems.length - 1}
                  />
                )}

                {!item.children && (
                  <li>
                    <a
                      href={item.path}
                      class="flex lg:px-3 py-2 items-center text-gray-600 hover:text-gray-900">
                      <span> {item.title}</span>
                      {item.badge && (
                        <span class="ml-1 px-2 py-0.5 text-[10px] animate-pulse font-semibold uppercase text-white bg-indigo-600 rounded-full">
                          New
                        </span>
                      )}
                    </a>
                  </li>
                )}
              </>
            ))
          }
        </ul>
        <div class="lg:hidden flex items-center mt-3 gap-4">
          <Link href="#" style="muted" block size="md">Renters <italic>(Coming Soon!)</italic>
            <img src="/doorloop.png" alt="Doorloop Renter Portal" class="object-contain h-30 w-40 m-auto"/>
          <!-- Make the logo gray and the other box same size -->
          </Link>
          <Link href="tel:812-243-2759" size="md" block>Contact Us</Link>
        </div>
      </MenuItems>
    </Astronav>
    <div>
      <div class="hidden lg:flex items-center gap-4">
        <a href="#">Renters</a>
        <Link href="tel:8122432759" size="md">Call Us</Link>
      </div>
    </div>
  </header>
</Container>
