---
import Link from "./ui/link.astro";
---

<div
  class="bg-black p-8 md:px-20 md:py-20 mt-20 mx-auto max-w-5xl rounded-lg flex flex-col items-center text-center">
  <h2 class="text-white text-4xl md:text-6xl tracking-tight">
    Need a place to call home?
  </h2>
  <p class="text-slate-400 mt-4 text-lg md:text-xl">
    Call today and we'll help you find it. Whether you're ready to buy a home, planning to rent, or interested in more flexibility with a Rent-To-Own (RTO) home, we're happy to dicuss available properties and answer questions.
  </p>
  <div class="flex mt-5">
    <Link href="tel:812-243-2759" style="inverted">Call Us</Link>
  </div>
</div>
