---
import Button from "./ui/button.astro"
---

<section class="py-16">
    <div class="p-8 border-2 rounded-xl bg-bg-color" id="ruoff">
    <h3 class="text-2xl uppercase lg:text-3xl xl:text-5xl lg: tracking-tight xl:tracking-tighter mt-4 justify-center flex">
    Now Offering</h3>
    <h2 id="subhead" class="font-serif text-4xl pb-8 lg:text-5xl xl:text-6xl font-bold lg:tracking-tight xl:tracking-tighter mt-4 justify-center flex">
        Up to $2000 in Closing Cost Credits</h2>
        <div class="flex justify-center">
            <img src="\Ruoff_Mortgage_FC.png"
            height="200px"
            width="200px"
            alt="Ruoff Home Mortgage logo" 
            class="p-0 m-0"/>
            </div>
    <p class="w-full pt-8 text-lg">
        Ruoff Mortgage and Southard Homes are excited to announce a special partnership to help 
        homebuyers save on their dream home! Buyers purchasing a Southard Homes property can 
        receive a lender credit from Ruoff Mortgage equal to 1% of the loan amount, up to a maximum 
        credit of $2,000. This exclusive offer is designed to make homeownership more affordable and 
        accessible, providing buyers with valuable savings on closing costs.
     </p>

     <div class="justify-center flex pt-8">
        <a class="link" href="https://apply.ruoff.com/tylerwampler" target="_blank">
 <Button id="ruoffBtn" class="text-2xl"><span class="text-shadow-xs">Learn More</span>
 </a>
</Button>
</div>

    </div>
    </section>

    <style>
#ruoffBtn {
    background-color: #107F65;
}

#ruoffBtn:hover {
    background-color:#ffca28;
}

#subhead {
    color: #0FB08D;
}
</style>