---
// @ts-ignore
import { Icon } from "astro-icon/components";

const features = [
  {
    title: "For Sale",
    description:
      "Info about homes for sale",
    icon: "bx:bxs-briefcase",
  },
  {
    title: "For Rent",
    description:
      "Info about rentals.",
    icon: "bx:bxs-window-alt",
  },
  {
    title: "Rent To Own (RTO)",
    description:
      "Info about RTO ",
    icon: "bx:bxs-data",
  },
  // {
  //   title: "Broad Integration",
  //   description:
  //     "Astro supports TypeScript, Scoped CSS, CSS Modules, Sass, Tailwind, Markdown, MDX, and any other npm packages.",
  //   icon: "bx:bxs-bot",
  // },
  // {
  //   title: "SEO Enabled",
  //   description:
  //     "Automatic sitemaps, RSS feeds, pagination and collections take the pain out of SEO and syndication. It just works!",
  //   icon: "bx:bxs-file-find",
  // },
  // {
  //   title: "Community",
  //   description:
  //     "Astro is an open source project powered by hundreds of contributors making thousands of individual contributions.",
  //   icon: "bx:bxs-user",
  // },
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Quality homes, flexible options
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    Finding a home is a big jump, whether you're renting or working with a realtor. Options mean more peace of mind on your home-hunting journey.
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
