---
import { Picture } from "astro:assets";
import heroImage from "assets/hero.jpg";
import Link from "@components/ui/link.astro";
import { Icon } from "astro-icon/components";
import Listings from "@components/Listings.astro";
---

<main id="imgBkg"
  class="grid lg:grid-cols-2 place-items-center pt-16 pb-8 md:pt-12 md:pb-24">
  <div class="py-6 md:order-1">
  </div>
  <div>
    <h1
      class="text-5xl lg:text-6xl xl:text-7xl font-bold lg:tracking-tight xl:tracking-tighter font-serif">
      Welcome <span style="color:#ffca28">Home.</span>
    </h1>
    <p class="text-lg mt-4 text-slate-600 max-w-xl">
      Southard Homes LLC is a local family-owned real estate, property development, and residential construction company serving the Wabash Valley since 2019. <wbr /> Looking for homes for sale, homes for rent, or rent to own (RTO) opportunities? Call us today!
    </p>
    <div class="mt-6 flex flex-col sm:flex-row gap-3">
    </div>
    <Listings />
  </div>
</main>

<style>
  #imgBkg {
    background-image: url("https://res.cloudinary.com/dqfotf1jf/image/upload/t_Banner 16:9/v1726861810/Home_sj51i5.jpg");
    background-repeat: no-repeat;
    width: screen;
    height: screen;
  }
</style>
