---
import { Picture } from "astro:assets";
import heroImage from "assets/hero.jpg";
import Link from "@components/ui/link.astro";
import { Icon } from "astro-icon/components";
import Listings from "@components/Listings.astro";
import { CldVideoPlayer } from 'astro-cloudinary';
import RTOListings from "./RTO-Listings.astro";
import RentalListings from "./Rental-Listings.astro";
---
<main>

  <header
  class="relative items-center justify-center h-screen mb-12 overflow-hidden grid place-items-center pt-16 pb-8 md:pt-12 md:pb-24"
>
  <div
    class="bg-black relative z-20 text-2xl text-white rounded-xl"
  >
    <h1
      class="text-5xl lg:text-6xl xl:text-7xl font-bold lg:tracking-tight xl:tracking-tighter font-serif">
      Welcome <span style="color:#ffca28">Home.</span>
    </h1>
    <p class="text-lg mt-4 after:text-[#ffffff] drop-shadow-lg max-w-xl">
      Southard Homes LLC is a local family-owned real estate, property development, and residential construction with more than 25 years of experience serving the Wabash Valley since 2019. <wbr /> Looking for homes for sale, homes for rent, or rent to own (RTO) opportunities? Call us today!
    </p>
    <div class="justify-center flex items-center py-8">
    <Link id="call" class="bg-[#ffca28] border-[#ffca28] scale-200 hover:border-[#ffffff]" href="tel:8122432759" size="lg"><span class="text-clip drop-shadow-lg contrast-200 stroke-[#000000]">Get In Touch</span></Link>
  </div>
</div>
  <video
  aria-ignore
    muted
    autoplay
    class="absolute object-cover min-w-full min-h-full max-w-none"
  >
    <source
      src="https://res.cloudinary.com/dqfotf1jf/video/upload/v1735690280/terretownclips2024_-_Made_with_Clipchamp_4_qtgdjz.mp4"
      type="video/mp4"
    />
    Your browser does not support the video tag.
  </video>
</header>

<section class="w-full">

<h2 class="text-3xl lg:text-4xl xl:text-5xl font-bold lg: tracking-tight xl:tracking-tighter mt-4 justify-center flex">
  Available Homes For Sale</h2>
  <p class="w-full pt-8 text-lg">
  We are working on developing homes to suit a range of needs at every price point.
   Don't see what you need?<br/>
   Check back for new single-family homes in <b>Southard Acres West</b> (Terre Town) starting at $222.9K, homes in <b>Terre Vista</b> starting around $400,000, and updated city lots starting at around $130K.
   </p>
<div class="w-full relative mt-6 flex flex-col md:flex-row gap-3 items-center md:justify-start">
  <Listings />
</div>

<!-- <h2 class="text-3xl lg:text-4xl xl:text-5xl font-bold lg: tracking-tight xl:tracking-tighter mt-4 justify-center flex pt-8">
  Available Rent-To-Own Homes</h2>
  <p class="w-full pt-8 text-lg">
    Southard Homes LLC offers a <strong>15-year contract</strong> for our RTO homes, and the house is yours upon completion. <br/>

    We buy local properties and bring them to their proper glory thanks to our other Quality Companies: Quality Roofing of Indiana LLC, Quality Electric of Indiana LLC, and Quality Excavating of Indiana LLC.
<br/>
Our RTOs require you to secure <strong>Renter's Insurance</strong> - follow the link and <strong>fill out an application on doorloop</strong> and we will be in contact with you soon!
    </br><a href="tel:812-243-2759" target="_blank" class="text-[#ffca28] font-bold">Call us</a> any time to talk about inventory and options.
<div class="w-full relative mt-6 flex flex-col md:flex-row gap-3 items-center md:justify-start">
  <RTOListings /> -->

</div>
<h2 class="text-3xl lg:text-4xl xl:text-5xl font-bold lg: tracking-tight xl:tracking-tighter mt-4 justify-center flex pt-8">
  Available Rental Homes</h2>
  <p class="w-full pt-8 text-lg">
    Just like our RTO options, we improve on existing housing inventory with our in-house contractors to give local homeseekers more flexible options. <br/>
        See one you like? Submit an application through our tenant portal on <a href="https://southardhomesllc.app.doorloop.com/tenant-portal/rental-applications/listing?companyId=6747587dc1f13e76f53fc0f8&source=CompanyLink" target="_blank" class="text-[#ffca28] font-bold">Doorloop</a>*.</br>
    </p>
    <p class=italic>Deposit: $1,250 (refundable), no pets allowed. </p>
    <p class=italic><span class="underline">Doorloop Note:</span> A $30 application fee will be processed upon submission to cover the cost of a background check, TransUnion report, and credit card processing fee.</p>
<div class="w-full relative mt-6 flex flex-col md:flex-row gap-3 items-center md:justify-start">
  <!-- <RentalListings /> -->
</div>
</section>
</main>

<style>
  #imgBkg {
    background-image: url("https://res.cloudinary.com/dqfotf1jf/image/upload/t_Banner 16:9/v1726861810/Home_sj51i5.jpg");
    background-repeat: no-repeat;
    width: screen;
    height: screen;
  }
</style>
