---
import ListingCard from './ListingCard.astro';
---

<div class="mt-4 flex flex-wrap flex-col md:flex-row gap-4 md:mx-0">

   <ListingCard
  listingImg="https://i.postimg.cc/Hk5nHyYk/4523-ext-2-cropped.jpg" 
  listingAlt="Coming soon!"
  listingAddress="4523 N 14th Street"
  listingCityZip="Terre Haute, IN 47805"
  listingPrice="$239,900"
  lBeds="3"
  lBath="2"
  lGarage="2-Car Garage"
  lsqFt="1,253"
  floorplan2D="https://i.postimg.cc/BZhh38bg/4523-N-14th-Street-for-sale-terre-haute-southard-homes.png"
  floorplan3D="https://i.postimg.cc/pL7fyCST/4523N14th-Street-dim-0.png"
  videoTourLink=""
  listingLink="https://www.facebook.com/photo/?fbid=122168948504488487&set=pb.61564654631774.-2207520000"/>

   <ListingCard
  listingImg="https://i.postimg.cc/mDZzRDzQ/1000004552.jpg" 
  listingAlt="Coming soon!"
  listingAddress="4527 N 14th Street"
  listingCityZip="Terre Haute, IN 47805"
  listingPrice="$239,900"
  lBeds="3"
  lBath="2"
  lGarage="2-Car Garage"
  lsqFt="1,416"
  floorplan2D=""
  floorplan3D=""
  videoTourLink=""
  listingLink="https://www.facebook.com/photo/?fbid=122168948198488487&set=pb.61564654631774.-2207520000"/>

     <ListingCard
  listingImg="https://i.postimg.cc/NjtngqDh/672-vista-glen-for-sale-southard-homes-terre-haute.png" 
  listingAlt="Coming soon!"
  listingAddress="674 Vista Glen Dr"
  listingCityZip="Terre Haute, IN 47805"
  listingPrice="$324,900"
  lBeds="3"
  lBath="2"
  lGarage="2-Car Garage"
  lsqFt="1,500*"
  floorplan2D="https://i.postimg.cc/qRCw8b8k/Tuscany-4511-107F-674.png"
  floorplan3D="https://i.postimg.cc/3NzHB6Q7/Tuscany-4511-3d.png"
  videoTourLink=""
  listingLink="https://i.postimg.cc/NjtngqDh/672-vista-glen-for-sale-southard-homes-terre-haute.png"/>

       <ListingCard
  listingImg="https://i.postimg.cc/Bnjzy8b1/686-vista-glen-drive.png" 
  listingAddress="686 Vista Glen Dr"
  listingCityZip="Terre Haute, IN 47805"
  listingPrice="$324,900"
  lBeds="3"
  lBath="2"
  lGarage="2-Car Garage"
  lsqFt="1,530"
  floorplan2D="https://i.postimg.cc/Kv4nbt28/686-vista-glen-floorplan.jpg"
  floorplan3D="https://i.postimg.cc/RZ7qx0NK/686-vista-glen-floorplan-3d.jpg"
  videoTourLink=""
  listingLink="https://www.redfin.com/IN/Terre-Haute/686-Vista-Glen-Dr-47803/home/171940695"/>

</div>