---
import ListingCard from './ListingCard.astro';
---

<div class="mt-4 flex flex-wrap flex-col md:flex-row gap-4 md:mx-0">

        <ListingCard
        listingImg="https://1drv.ms/i/s!AoM7TSrp7nnmmA_J-45pXpw97n9y?embed=1&width=660" 
        listingAlt=""
        listingAddress="721 Vista Glen Dr"
        listingCityZip="Terre Haute, IN 47803"
        listingPrice="$429,970"
        lBeds="3"
        lBath="3.5"
        lGarage="2-Car Garage"
        lsqFt="2,050"
        listingLink="https://www.homes.com/property/721-vista-glen-dr-terre-haute-in/mzzm8427vbe7f/"/>

        <ListingCard
        listingImg="https://res.cloudinary.com/dqfotf1jf/image/upload/v1737145753/IMG_1480_drkssw.jpg" 
        listingAlt=""
        listingAddress="95 Ferndale Drive"
        listingCityZip="Terre Haute, IN 47803"
        listingPrice="$352,800"
        priceUpdate="-$12,100"
        lBeds="3"
        lBath="2.5"
        lGarage="2-Car Garage"
        lsqFt="1,680"
        listingLink="https://www.redfin.com/IN/Terre-Haute/95-Ferndale-Dr-47803/home/171940700"/>
  
        <ListingCard
        listingImg="https://1drv.ms/i/s!AoM7TSrp7nnmmA7r4-aMQ20uiaSA?embed=1&width=660" 
        listingAlt="4530 N 14 1/2 Street - Pending Sale"
        listingAddress="4530 N 14 1/2 St"
        listingCityZip="Terre Haute, IN 47805"
        listingPrice="$229,900"
        lBeds="3"
        lBath="2"
        lGarage="2-Car Garage"
        lsqFt="1,356"
        listingLink="https://www.redfin.com/IN/Terre-Haute/4530-N-14th-St-47805/home/194454757"/>

        <ListingCard
        listingImg="https://i.postimg.cc/5NZJgyH6/4526-N-14-12-Street.png" 
        listingAlt=""
        listingAddress="4526 N 14 1/2 St"
        listingCityZip="Terre Haute, IN 47805"
        listingPrice="$229,900"
        lBeds="3"
        lBath="2"
        lGarage="2-Car Garage"
        lsqFt="1,279"
        listingLink="https://www.redfin.com/IN/Terre-Haute/4526-N-14th-St-47805/home/194454895"/>

        <ListingCard
        listingImg="https://i.postimg.cc/R0v1qjrG/IMG-1937-Edit.jpg" 
        listingAlt=""
        listingAddress="4522 N 14 1/2 St"
        listingCityZip="Terre Haute, IN 47805"
        listingPrice="$234,900"
        priceUpdate="First Look!"
        lBeds="3"
        lBath="2"
        lGarage="2-Car Garage"
        lsqFt="1,388"
        listingLink="https://www.facebook.com/photo/?fbid=122136918572488487&set=a.122103414410488487"/>

        <ListingCard
        listingImg="https://i.postimg.cc/dt0zZxFs/IMG-1930.jpg" 
        listingAlt=""
        listingAddress="4518 N 14 1/2 St"
        listingCityZip="Terre Haute, IN 47805"
        listingPrice="$222,900"
        priceUpdate="First Look!"
        lBeds="2"
        lBath="2.5"
        lGarage="2-Car Garage"
        lsqFt="1,225"
        listingLink="https://www.facebook.com/southardhomesllc/posts/pfbid0B8jvFFvzDFhjgpkK2U2CKEDhZCHEjCX1RppXvgVSQ8bx5qmfzb65drEwqw4gK7Esl"/>
    </div>
  <!-- Add a dynamic collection of pics to to add to each listing -->