---
import ListingCard from './ListingCard.astro';
---

<div class="mt-4 flex flex-col md:flex-row gap-4 mx-auto md:mx-0">
    <ListingCard
        listingImg="https://res.cloudinary.com/dqfotf1jf/image/upload/v1734636167/bb87170fa8b3b1fff9668a601527b988l-m2963055900rd-w2048_h1536_pkfmzu.webp" 
        listingAlt=""
        listingAddress="68 Ferndale Drive"
        listingCityZip="Terre Haute, IN 47803"
        listingPrice="$415,000"
        lBeds="3"
        lBath="3.5"
        lGarage="2-Car Garage"
        lsqFt="2,050"
        priceUpdate="-$15K"
        listingLink="https://redf.in/P6jzmk"/>

        <ListingCard
        listingImg="https://res.cloudinary.com/dqfotf1jf/image/upload/v1735699681/471178581_122130084584488487_7282956775327788956_n_ecgwkf.jpg" 
        listingAlt=""
        listingAddress="721 Vista Glen Dr"
        listingCityZip="Terre Haute, IN 47803"
        listingPrice="$430,000"
        lBeds="3"
        lBath="3.5"
        lGarage="2-Car Garage"
        lsqFt="2,050"
        listingLink="https://www.facebook.com/permalink.php?story_fbid=pfbid02Hronq2tYU5w1QN2trK8EwAuhyGmjiLhiPerpuA6GxVq8uwDvxHMZb92AGrYXCerel&id=61564654631774"/>
  </div>
  <!-- Add a dynamic collection of pics to to add to each listing -->