---
import ListingCard from './ListingCard.astro';
---

<div class="mt-4 flex flex-col md:flex-row gap-4 mx-auto md:mx-0">
    <ListingCard
        listingImg="https://res.cloudinary.com/dqfotf1jf/image/upload/v1737145541/Untitled_design_3_qxotox.jpg" 
        listingAlt=""
        listingAddress="68 Ferndale Drive"
        listingCityZip="Terre Haute, IN 47803"
        listingPrice="$415,000"
        lBeds="3"
        lBath="3.5"
        lGarage="2-Car Garage"
        lsqFt="2,050"
        priceUpdate="-$15K"
        listingLink="https://redf.in/P6jzmk"/>

        <ListingCard
        listingImg="https://res.cloudinary.com/dqfotf1jf/image/upload/v1735699681/471178581_122130084584488487_7282956775327788956_n_ecgwkf.jpg" 
        listingAlt=""
        listingAddress="721 Vista Glen Dr"
        listingCityZip="Terre Haute, IN 47803"
        listingPrice="$429,970"
        lBeds="3"
        lBath="3.5"
        lGarage="2-Car Garage"
        lsqFt="2,050"
        listingLink="https://www.facebook.com/permalink.php?story_fbid=pfbid02Hronq2tYU5w1QN2trK8EwAuhyGmjiLhiPerpuA6GxVq8uwDvxHMZb92AGrYXCerel&id=61564654631774"/>

        <ListingCard
        listingImg="https://res.cloudinary.com/dqfotf1jf/image/upload/v1737145753/IMG_1480_drkssw.jpg" 
        listingAlt=""
        listingAddress="95 Ferndale Drive"
        listingCityZip="Terre Haute, IN 47803"
        listingPrice="$364,900"
        lBeds="3"
        lBath="2.5"
        lGarage="2-Car Garage"
        lsqFt="1,680"
        listingLink="https://www.facebook.com/photo?fbid=122133130874488487&set=a.122133385322488487"/>
  
    </div>
  <!-- Add a dynamic collection of pics to to add to each listing -->