---
import ListingCard from './ListingCard.astro';
---

<div class="mt-4 flex flex-wrap flex-col md:flex-row gap-4 md:mx-0">

   <ListingCard
  listingImg="https://i.postimg.cc/7YyV1g5R/4523-n-14th-street-terre-haute-for-sale-southard-homes.jpg" 
  listingAlt="Available"
  listingAddress="4523 N 14th Street"
  listingCityZip="Terre Haute, IN 47805"
  listingPrice="$239,900"
  lBeds="3"
  lBath="2"
  lGarage="2-Car Garage"
  lsqFt="1,253"
  floorplan2D="https://i.postimg.cc/BZhh38bg/4523-N-14th-Street-for-sale-terre-haute-southard-homes.png"
  floorplan3D=""
  videoTourLink=""
  listingLink="https://www.facebook.com/photo/?fbid=122168948504488487&set=pb.61564654631774.-2207520000"/>

   <ListingCard
  listingImg="https://i.postimg.cc/3xMTrW3H/4527-n-14th-st.jpg" 
  listingAlt="Available"
  listingAddress="4527 N 14th Street"
  listingCityZip="Terre Haute, IN 47805"
  listingPrice="$239,900"
  lBeds="3"
  lBath="2"
  lGarage="2-Car Garage"
  lsqFt="1,416"
  floorplan2D=""
  floorplan3D=""
  videoTourLink=""
  listingLink="https://www.facebook.com/photo/?fbid=122168948198488487&set=pb.61564654631774.-2207520000"/>

   <ListingCard
  listingImg="https://i.postimg.cc/dtXfXLWQ/Pending-Covers.png" 
  listingAlt="Pending"
  listingAddress="4519 N 14th Street"
  listingCityZip="Terre Haute, IN 47805"
  listingPrice="$239,900"
  lBeds="3"
  lBath="2"
  lGarage="2-Car Garage"
  lsqFt="1,373"
  floorplan2D=""
  floorplan3D=""
  videoTourLink=""
  listingLink="https://www.facebook.com/photo/?fbid=122168948264488487&set=pb.61564654631774.-2207520000"/>

     <!-- <ListingCard
  listingImg="https://i.postimg.cc/3xMTrW3H/4527-n-14th-st.jpg" 
  listingAlt="Available"
  listingAddress="4531 N 14th Street"
  listingCityZip="Terre Haute, IN 47805"
  listingPrice="$239,900"
  lBeds="3"
  lBath="2"
  lGarage="2-Car Garage"
  lsqFt="1,279"
  floorplan2D=""
  floorplan3D=""
  videoTourLink=""
  listingLink="https://www.facebook.com/photo/?fbid=122168948366488487&set=pb.61564654631774.-2207520000"/> -->

 <!-- <ListingCard
  listingImg="https://i.postimg.cc/MHWwSLwf/4511-n-14th-pending.png" 
  listingAlt="Available"
  listingAddress="4511 N 14th Street"
  listingCityZip="Terre Haute, IN 47805"
  listingPrice="$239,900"
  lBeds="3"
  lBath="2"
  lGarage="2-Car Garage"
  lsqFt="1,388"
  floorplan2D="https://i.postimg.cc/9MFVFZB3/4511-2d.png"
  floorplan3D="https://i.postimg.cc/3NzHB6Q7/4511-3d.png"
  videoTourLink="https://www.tiktok.com/@southardhomes.llc/video/7541121105784769823?is_from_webapp=1&sender_device=pc&web_id=7535844831151769101"
  listingLink="https://www.redfin.com/IN/Terre-Haute/4511-N-14th-St-47805/home/196205628"/>
   -->
</div>

<!-- TODO: Add a dynamic collection of pics to to add to each listing -->