---
import ListingCard from './ListingCard.astro';
---

<div class="mt-4 flex flex-wrap flex-col md:flex-row gap-4 md:mx-0">

          <ListingCard
  listingImg="https://i.postimg.cc/J4S7bQxm/IMG-3204.jpg" 
  listingAddress="686 Vista Glen Dr"
  listingCityZip="Terre Haute, IN 47805"
  listingPrice="$324,900"
  lBeds="3"
  lBath="2"
  lGarage="2-Car Garage"
  lsqFt="1,530"
  floorplan2D="https://i.postimg.cc/Kv4nbt28/686-vista-glen-floorplan.jpg"
  floorplan3D="https://i.postimg.cc/RZ7qx0NK/686-vista-glen-floorplan-3d.jpg"
  videoTourLink=""
  listingLink="https://www.redfin.com/IN/Terre-Haute/686-Vista-Glen-Dr-47803/home/171940695"/>
  
  <ListingCard
  listingImg="https://i.postimg.cc/yYpg29Tt/4523-2.jpg" 
  listingAlt=""
  listingAddress="4523 N 14th Street"
  listingCityZip="Terre Haute, IN 47805"
  listingPrice="$234,900"
  lBeds="3"
  lBath="2"
  lGarage="2-Car Garage"
  lsqFt="1,360"
  floorplan2D="https://i.postimg.cc/BZhh38bg/4523-N-14th-Street-for-sale-terre-haute-southard-homes.png"
  floorplan3D="https://i.postimg.cc/pL7fyCST/4523N14th-Street-dim-0.png"
  videoTourLink=""
  listingLink="https://www.redfin.com/IN/Terre-Haute/4523-N-14th-St-47805/home/200051808"/>

   <ListingCard
  listingImg="https://i.postimg.cc/x1GJs7qW/IMG-3234.jpg" 
  listingAlt="Coming soon!"
  listingAddress="4527 N 14th Street"
  listingCityZip="Terre Haute, IN 47805"
  listingPrice="$239,900"
  lBeds="3"
  lBath="2"
  lGarage="2-Car Garage"
  lsqFt="1,416"
  floorplan2D=""
  floorplan3D=""
  videoTourLink=""
  listingLink="https://www.facebook.com/photo/?fbid=122179611428488487&set=a.122103414410488487"/>

     <ListingCard
  listingImg="https://i.postimg.cc/NjtngqDh/672-vista-glen-for-sale-southard-homes-terre-haute.png" 
  listingAlt="Coming soon!"
  listingAddress="674 Vista Glen Dr"
  listingCityZip="Terre Haute, IN 47805"
  listingPrice="$324,900"
  lBeds="3"
  lBath="2"
  lGarage="2-Car Garage"
  lsqFt="1,500*"
  floorplan2D="https://i.postimg.cc/qRCw8b8k/Tuscany-4511-107F-674.png"
  floorplan3D="https://i.postimg.cc/3NzHB6Q7/Tuscany-4511-3d.png"
  videoTourLink=""
  listingLink="https://i.postimg.cc/NjtngqDh/672-vista-glen-for-sale-southard-homes-terre-haute.png"/>

</div>