---
import ListingCard from './ListingCard.astro';
---

<div class="mt-4 flex flex-wrap flex-col md:flex-row gap-4 md:mx-0">

   <ListingCard
  listingImg="https://i.postimg.cc/Hk5nHyYk/4523-ext-2-cropped.jpg" 
  listingAlt="Available"
  listingAddress="4523 N 14th Street"
  listingCityZip="Terre Haute, IN 47805"
  listingPrice="$239,900"
  lBeds="3"
  lBath="2"
  lGarage="2-Car Garage"
  lsqFt="1,253"
  floorplan2D="https://i.postimg.cc/BZhh38bg/4523-N-14th-Street-for-sale-terre-haute-southard-homes.png"
  floorplan3D=""
  videoTourLink=""
  listingLink="https://www.facebook.com/photo/?fbid=122168948504488487&set=pb.61564654631774.-2207520000"/>

   <ListingCard
  listingImg="https://i.postimg.cc/mDZzRDzQ/1000004552.jpg" 
  listingAlt="Available"
  listingAddress="4527 N 14th Street"
  listingCityZip="Terre Haute, IN 47805"
  listingPrice="$239,900"
  lBeds="3"
  lBath="2"
  lGarage="2-Car Garage"
  lsqFt="1,416"
  floorplan2D=""
  floorplan3D=""
  videoTourLink=""
  listingLink="https://www.facebook.com/photo/?fbid=122168948198488487&set=pb.61564654631774.-2207520000"/>

     <ListingCard
  listingImg="https://i.postimg.cc/NjtngqDh/672-vista-glen-for-sale-southard-homes-terre-haute.png" 
  listingAlt="Available"
  listingAddress="674 Vista Glen"
  listingCityZip="Terre Haute, IN 47805"
  listingPrice="$324,900"
  lBeds="3"
  lBath="2"
  lGarage="2-Car Garage"
  lsqFt="1,500*"
  floorplan2D="https://i.postimg.cc/qRCw8b8k/Tuscany-4511-107F-674.png"
  floorplan3D="https://i.postimg.cc/3NzHB6Q7/Tuscany-4511-3d.png"
  videoTourLink=""
  listingLink="https://i.postimg.cc/NjtngqDh/672-vista-glen-for-sale-southard-homes-terre-haute.png"/>

   <ListingCard
  listingImg="https://i.postimg.cc/Gmq9KRSv/Pending-Covers.png" 
  listingAlt="Pending"
  listingAddress="4519 N 14th Street"
  listingCityZip="Terre Haute, IN 47805"
  listingPrice="$239,900"
  lBeds="3"
  lBath="2"
  lGarage="2-Car Garage"
  lsqFt="1,373"
  floorplan2D=""
  floorplan3D=""
  videoTourLink=""
  listingLink="https://www.facebook.com/photo/?fbid=122168948264488487&set=pb.61564654631774.-2207520000"/>

</div>