---
import ListingCard from './ListingCard.astro';
---

<div class="mt-6 flex flex-col sm:flex-row gap-3">
    <ListingCard
        listingImg="https://res.cloudinary.com/dqfotf1jf/image/upload/v1734636167/bb87170fa8b3b1fff9668a601527b988l-m2963055900rd-w2048_h1536_pkfmzu.webp" 
        listingAlt=""
        listingAddress="68 Ferndale Drive"
        listingCityZip="Terre Haute, IN 47803"
        listingPrice="$415,000"
        lBeds="3"
        lBath="3.5"
        lGarage="2-Car Garage"
        lsqFt="2,050"
        listingLink="https://www.realtor.com/realestateandhomes-detail/68-Ferndale-Dr_Terre-Haute_IN_47803_M98119-42532?cid=soc_shares_fs_ldp"/>
  </div>

  <!-- Add a dynamic collection of pics to to add to each listing -->