---
import ListingCard from './ListingCard.astro';
---

<div class="mt-4 flex flex-wrap flex-col md:flex-row gap-4 md:mx-0">

 <ListingCard
  listingImg="https://i.postimg.cc/HsNx1nCk/106766-1.jpg" 
  listingAlt="Available"
  listingAddress="4511 N 14th Street"
  listingCityZip="Terre Haute, IN 47805"
  listingPrice="$239,900"
  lBeds="3"
  lBath="2"
  lGarage="2-Car Garage"
  lsqFt="1,388"
  floorplan2D="https://i.postimg.cc/9MFVFZB3/4511-2d.png"
  floorplan3D="https://i.postimg.cc/3NzHB6Q7/4511-3d.png"
  videoTourLink=""
  listingLink="https://www.redfin.com/IN/Terre-Haute/4511-N-14th-St-47805/home/196205628"/>
  
  <ListingCard
  listingImg="https://i.postimg.cc/BZckp12x/107-Ferndale-Dr.png"
  listingAddress="107 Ferndale Drive"
  listingAlt="Available"
  listingCityZip="Terre Haute, IN 47805"
  listingPrice="$321,900"
  lBeds="3"
  lBath="2"
  lGarage="2-Car Garage"
  lsqFt="1,485"
  floorplan2D=""
  floorplan3D=""
  videoTourLink="https://www.facebook.com/share/v/18bnGrtqeS/"
  listingLink="https://www.redfin.com/IN/Terre-Haute/107-Ferndale-Dr-47803/home/171940702"/>

    <ListingCard
  listingImg="https://i.postimg.cc/7YZCrGTZ/Pending-1663-7th-ave.png" 
  listingAlt="Available"
  listingAddress="1663 7th Avenue"
  listingCityZip="Terre Haute, IN 47804"
  listingPrice="$144,900"
  lBeds="3"
  lBath="2"
  lGarage="No Garage"
  lsqFt="1,152"
  listingLink="https://www.redfin.com/IN/Terre-Haute/1663-7th-Ave-47807/home/196205287"
  />

    <ListingCard
  listingImg="https://i.postimg.cc/26Zmjpd1/101-Ferndale.png" 
  listingAlt="Pending"
  listingAddress="101 Ferndale Drive"
  listingCityZip="Terre Haute, IN 47805"
  listingPrice="$391,900"
  lBeds="3"
  lBath="2"
  lGarage="2-Car Garage"
  lsqFt="1,861"
  floorplan2D="https://i.postimg.cc/tgnWvn6j/101ferndale2-D.png"
  floorplan3D="https://i.postimg.cc/858W2kdr/101ferndale3-D.png"
  videoTourLink=""
  listingLink="https://www.redfin.com/IN/Terre-Haute/101-Ferndale-Dr-47803/home/171940701"/>
  
</div>

<!-- TODO: Add a dynamic collection of pics to to add to each listing -->