---
// @ts-ignore
import { Icon } from "astro-icon/components";

const features = [
  {
    title: "It Starts Here (Terre Haute pin)",
    description:
      "We buy properties in terre haute and use local vendors (keep it local)",
    icon: "bx:bxs-briefcase",
  },
  {
    title: "Quality Construction/Companies",
    description:
      "lorem ipsum yada yada. Also renovation, etc",
    icon: "bx:bxs-window-alt",
  },
  {
    title: "Listing the Property/Sales Side",
    description:
      "yada yada ",
    icon: "bx:bxs-data",
  },
  {
    title: "You",
    description:
      "Ongoing support, etc",
    icon: "bx:bxs-bot",
  },
  // {
  //   title: "SEO Enabled",
  //   description:
  //     "Automatic sitemaps, RSS feeds, pagination and collections take the pain out of SEO and syndication. It just works!",
  //   icon: "bx:bxs-file-find",
  // },
  // {
  //   title: "Community",
  //   description:
  //     "Astro is an open source project powered by hundreds of contributors making thousands of individual contributions.",
  //   icon: "bx:bxs-user",
  // },
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    From Built to Bought
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    Our company develops properties, our skilled tradesmen build the houses, and our sales team connects them to you - the homebuyer.<br/>
    Strong relationships with local vendors ensure that we can provide all services necessary to build beautiful homes and renovate your current home to your suit your vision.
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>

<!--// @ts-ignore
import { Icon } from "astro-icon/components";


 <div class="mt-24">
  <h2 class="text-center text-slate-500">What We Do</h2>
  <div class="flex gap-8 md:gap-20 items-center justify-center mt-10 flex-wrap">

    <Icon class="size-8 md:size-12" name="simple-icons:react" />
    <Icon class="size-8 md:size-12" name="simple-icons:svelte" />
    <Icon class="size-8 md:size-12" name="simple-icons:astro" />
    <Icon class="size-8 md:size-16" name="simple-icons:tailwindcss" />
    <Icon class="size-8 md:size-16" name="simple-icons:alpinedotjs" />
    <Icon class="size-8 md:size-12" name="simple-icons:vercel" /> 

  </div>
</div> --> 
