---
import ListingCard from './ListingCard.astro';
---

<div class="mt-4 flex flex-wrap flex-col md:flex-row gap-4 md:mx-0">

        <ListingCard
        listingImg="https://i.postimg.cc/NMZHmVLm/Rentor-Purchase.png" 
        listingAlt="2149 8th Avenue, Terre Haute"
        listingAddress="2149 8th Avenue"
        listingCityZip="Terre Haute, IN 47804"
        listingPrice="$1,650/mo"
        lBeds="3"
        lBath="2"
        lGarage="No Garage"
        lsqFt="1,152"
        listingLink="https://southardhomesllc.app.doorloop.com/tenant-portal/rental-applications/listing?companyId=6747587dc1f13e76f53fc0f8&listingId=67a4e064b43946d7d0a1cee3&source=CompanyLink"
        />
    </div>