---
import ListingCard from './ListingCard.astro';
---

<div class="mt-4 flex flex-wrap flex-col md:flex-row gap-4 md:mx-0">

    <ListingCard
    listingImg="https://i.postimg.cc/ZKdHrcSn/Riley-Rental.jpg" 
    listingAlt="3503 Riley Avenue"
    listingAddress="3503 Riley Avenue"
    listingCityZip="Terre Haute, IN 47803"
    listingPrice="$1,625/mo"
    lBeds="3"
    lBath="1.5"
    lGarage="2-Car Garage"
    priceUpdate="Coming Soon!"
    lsqFt="1,152"
    listingLink="https://southardhomesllc.app.doorloop.com/tenant-portal/rental-applications/listing?companyId=6747587dc1f13e76f53fc0f8&listingId=684ddf999bcc5ce1e60c1934&source=CompanyLink"
    />

        <!-- <ListingCard
        listingImg="https://i.postimg.cc/bwXLYMMj/IMG-2081-2.jpg" 
        listingAlt="2149 8th Avenue, Terre Haute"
        listingAddress="2149 8th Avenue"
        listingCityZip="Terre Haute, IN 47804"
        listingPrice="$1,250/mo"
        lBeds="2"
        lBath="1"
        lGarage="1-Car Garage"
        lsqFt="1,274"
        listingLink="https://southardhomesllc.app.doorloop.com/tenant-portal/rental-applications/listing?companyId=6747587dc1f13e76f53fc0f8&listingId=67a4e064b43946d7d0a1cee3&source=CompanyLink"
        /> -->
    </div>