---
import ListingCard from './ListingCard.astro';
---

<div class="mt-4 flex flex-wrap flex-col md:flex-row gap-4 md:mx-0">

    <div class="text-center italic text-2xl pt-8 font-prose text-[#9b9b9b]">No Rent-To-Own (RTO) homes available. Check back soon!</div>

<!-- <ListingCard
    listingImg="https://i.postimg.cc/ZKdHrcSn/Riley-Rental.jpg" 
    listingAlt="3503 Riley Avenue"
    listingAddress="3503 Riley Avenue"
    listingCityZip="Terre Haute, IN 47803"
    listingPrice="$1,400/mo"
    priceUpdate="18-yr Contract"
    lBeds="3"
    lBath="1.5"
    lGarage="2-Car Garage"
    lsqFt="1,152"
    listingLink="https://southardhomesllc.app.doorloop.com/tenant-portal/rental-applications/listing?companyId=6747587dc1f13e76f53fc0f8&listingId=684ddf999bcc5ce1e60c1934&source=CompanyLink"
/> -->
    <!-- <ListingCard
        listingImg="https://1drv.ms/i/s!AoM7TSrp7nnmlylU2Bd7DIySWlsx?embed=1&width=660" 
        listingAlt=""
        listingAddress="1221 S. 4th Street"
        listingCityZip="Terre Haute, IN 47802"
        listingPrice="$1,250 /month"
        lBeds="2"
        lBath="2"
        lGarage="2-Car Garage"
        lsqFt="6,098"
        listingLink="https://southardhomesllc.app.doorloop.com/tenant-portal/rental-applications/listing?companyId=6747587dc1f13e76f53fc0f8&listingId=67a4df2a6e4447a09fc6696d&source=CompanyLink"
        priceUpdate="New!"/> -->
    </div>