---
import { SEO } from "astro-seo";
import Footer from "@components/footer.astro";
import Navbar from "@components/navbar/navbar.astro";
import '@fontsource/source-sans-pro';
import '@fontsource/belleza';
import '@fontsource/libre-caslon-display';

export interface Props {
  title: string;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site).toString();

const resolvedImageWithDomain = new URL(
  "/opengraph.jpg", //take pic of website once finished and replace here!
  Astro.site
).toString();

const { title } = Astro.props;

const makeTitle = title
  ? title + " | " + "Southard Homes LLC"
  : "Southard Homes LLC - Homes for Sale, Houses for Rent, and Rent-to-Own (RTO) in Terre Haute, Indiana"; //Update if needed!
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta name="facebook-domain-verification" content="2bk2n25ugleccm5htyqjku437niixm" />
    <link rel="icon" type="image/svg+xml" href="/favicon.png" />

    <!-- Web Analytics -->
    <script data-goatcounter="https://southard-analytics.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>
    <script>
      // Only load on production environment.
      if (window.location.host !== 'southardhomesllc.com')
          window.goatcounter = {no_onload: true}
  </script>
    <!-- <link rel="preload" as="image" href={src} alt="Hero" /> -->
    <SEO
      title={makeTitle}
      description="Southard Homes LLC is a local family-owned real estate, property development, and residential construction company serving the Wabash Valley since 2019. Looking for homes for sale, homes for rent, or rent to own (RTO) opportunities? Call us today!"
      canonical={canonicalURL}
      twitter={{ 
        creator: "@southardhomesllc",
        site: "https://www.facebook.com/p/Southard-Homes-LLC-61564654631774/",
        card: "summary_large_image",
      }}
      openGraph={{
        basic: {
          url: canonicalURL,
          type: "website",
          title: `Southard Homes LLC - Homes for Sale, Houses for Rent, and Rent-to-Own (RTO) in Terre Haute, Indiana`,
          image: resolvedImageWithDomain,
        },
        image: {
          alt: "Southard Homes LLC Homepage Screenshot",
        },
      }}
    />
  </head>
  <body>
    
    <div class="top-0 w-screen z-50 bg-[#000000] shadow-lg">
    <Navbar />
  </div>
</div>
    <slot />
    <Footer />
    <style is:global>
      /* Improve Page speed */
      /* https://css-tricks.com/almanac/properties/c/content-visibility/ */
      img {
        content-visibility: auto;
      }

      body {
        background-image: linear-gradient(black, #424036);
        color: #ffffff;
      }
    </style>
  </body>
</html>
